body{
    margin: auto;
}
#quick{
    height: 450px;
    width: 100%;
    background-image: url(https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png);
    /* border: 2px solid green; */
}
#top{
    height: 50px;
    text-align: right;
    /* border: 2px solid red; */
}
#top>a{
    margin-right: 2%;
    font-size: 20px;
    color: white;
    text-decoration: none;
}
#mid{
    height: 260px;
    width:80%;
    margin-left: 10%;
    margin-top: 3%;
    float: left ;
    /* border: 2px solid blue; */
}
h1{
    text-align: center;
    color:white;
    font-size: 45px;
    margin-top: 1%;
    margin-bottom: 1%;
    
}
span{
    color: white;
    font-size:35px;
    margin-top: 1%;
    margin-left:33%;

}
#snap{
    
    margin-left: 5%;
    margin-top: 5%;
    
    
}
.sn{
    height:25px;
    width: 40%;
    font-size:15px;
    margin-left: 2%;

}
.loc{
    height:25px;
    width: 40%;
    font-size:15px;
    margin-left: 2%;
}
#option{
    display: inline-block;
    width:80%;
    margin-top: 2%;
    margin-left: 10%;
    
    /* border: 2px solid green; */
}
#sma{
    height: 155px;
    width:20%;
    float: left;
    margin-left: 3%;
    box-shadow: 17px 15px 15px;
}
.im{
    width:100%;
    /* border:black */
}
.im>img{
    height:135px;
    width:100%;
}
#heading{
    float: left ;
    width:50%;
    text-align:center;
    margin-left: 20%;
    
    
}
.h>a{
    color:black;
    font-size:18px;
    text-decoration: none;
}
#fot{
    height:100px;
    width:100%;
    /* border: 2px solid red; */
}


#headr{
    height: 60px;
    width:100%;
    border: 2px solid blue;
    margin-bottom: 2%;
}
#filter{
    height:400px;
    width:20%;
    margin-left: 3%;
    float: left ;
    /* border: 2px solid green; */
}
#listing{
    height:400px;
    width:50%;
    float: left ;
    margin-left: 2%;
    border: 2px solid yellow
}
footer{
    height: 300px;
    width:100%;
    margin-top: 3%;
    /* border: 2px solid red; */
    float: left ;
    
    
}
footer>h3{
    text-align:center;
    margin-top: 1%;
    
}
footer>p{
    text-align: center;
    margin-top: 1%;
}
#list{
    height:155px;
    width:12%;
    /* border: 2px solid green; */
    float: left ;
    margin-left: 6%;
    
}
#list>p{
    margin-top: 1%;
    margin-bottom: 2%;
    
}
.about>a{
    color: black;
    
    text-decoration: none;
    display:inline-block;
    margin-bottom: 5%;
}
.social{
    height:160px;
    width:15%;
    /* border: 2px solid green; */
    float: left ;
    margin-left: 5%;
    
}
.social>p{
    margin-top: 1%;
    margin-bottom: 1%;
}
.image>a>img{
    height: 22px;
    width:15%;
    text-decoration: none;
}
.image2>a>img{
    height:40px;
    width:75%;
}