body{
    margin: auto;
}

header{
    height: 100px;
    width: 100%;
    
    background-color: red;
}
#zoma{
    height: 35px;
    width:10%;
    

}
#zoma>img{
    height: 32px;
    width:100%;
    margin-left: 5%;
    margin-top: 20%;
}
#search{
    margin-left: 26%;
    height: 40px;
    width: 47%;
   
}
.res{
    height: 40px;
    width: 49%;
    
}
#cre{
    text-align: right;
    margin-top: -4%;
    margin-right: 5%;
}
#cre>a{
    color:black;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
#container{
    display: inline-block;
    margin-top: 2%;
    width:100%;
    /* border: 2px solid red; */
    float:left;
}
#filter{
    height: 400px;
    width:11%;
    margin-left: 1%;
    /* border: 2px solid red; */
    float:left;
}
#product{
    height: 1340px;
    margin-left: 30%;
    width:60%;
    /* border: 2px solid red; */
}
#details{
    height: 215px;
    width:100%;
    /* border: 2px solid blue; */
    
}
.image{
    height: 200px;
    width:30%;
    /* border: 2px solid green; */
}
.image>img{
    height: 190px;
    width:100%;
}
#heading{
    height: 200px;
    margin-left: 32%;
    width:67%;
    margin-top: -205px;
    /* border: 2px solid violet; */
    
}
#heading>h1{
    margin-top: 1%;
    margin-bottom: 1%;
}
.subimage{
    height:50px;
    /* width:20%;
    border: 2px solid green */
   

}
.subimage>img{
    height: 30px;
    width:5%;
    margin-top: -2%
}
.bu{
    
    background-color: grey;
    color:white;

}
footer{
    margin-top:5%;
    height:120px;
    width:100%;
    background-color:rgb(129, 61, 219);
}
#footerText{
    text-align: center;
}
.footDiv{
    height:70px;
    width:33%;
    float:left;
    border-right:2px solid black;
    text-align: center;
}
.noBorder{
    border:none 
}